@media screen and (max-width: 770px){
    
    header{
        flex-direction: column;
        
    }

    ul{
        text-align: center;
    }

    main{
        flex-direction: column;
    }

    h2{
        font-size: 30px;
    }
    
    form{
        margin: 0 auto;
    }

    input{
        align-self: center;
    }

    img{
        display: none;
    }
}